#!/bin/bash
#
# ~/.xprofile
#
# Executed by startx (run your window manager from here)

setxkbmap us,ru,de -option -option 'grp:rshift_toggle,caps:ctrl_modifier'
xinput disable "SynPS/2 Synaptics TouchPad"
xsetroot -cursor_name left_ptr # setup cursor before xmonad and xmobar are launched. Otherwise cursor theme is not working on xmobar and trayer.
export QT_SCREEN_SCALE_FACTORS=1
export QT_SCALE_FACTOR=1
export QT_QPA_PLATFORMTHEME="qt5ct"
[ -f ~/.Xresources ] && xrdb ~/.Xresources

# maintenance of the ssh-agent
ssh-add -l &>/dev/null
if [ "$?" = "2" ]; then
  test -r ~/.ssh-agent && eval "$(<~/.ssh-agent)" >/dev/null
  ssh-add -l &>/dev/null
  if [ "$?" = "2" ]; then
    (umask 066; ssh-agent > ~/.ssh-agent)
    eval "$(<~/.ssh-agent)" >/dev/null
    ssh-add
  fi
fi

common_run(){
    /home/alexgum/.scripts/displaymode &
    [ -x /usr/bin/nitrogen ] && (nitrogen --restore &)
    [ -x /usr/lib/xfce4/notifyd/xfce4-notifyd ] && ([ -z $(pgrep notifyd) ] && /usr/lib/xfce4/notifyd/xfce4-notifyd >/dev/null 2>&1 &)
    [ -x /usr/bin/nm-applet ] && (nm-applet 2> /dev/null &)
    [ -x /usr/bin/volumeicon ] && (volumeicon 2> /dev/null &)
    (blueman-applet 2> /dev/null &)
    /home/alexgum/.scripts/myidleswitch -off
    [ -x /usr/bin/rclone ] && (/home/alexgum/.scripts/rclone-cron &)
    /home/alexgum/.scripts/rshift-start -launch
    /home/alexgum/.scripts/wgstatus &
    [ -x /usr/bin/imwheel ] && imwheel
    /home/alexgum/.scripts/mycheckupdates
    /home/alexgum/.scripts/output-device-switch -detect
}

case $1 in
    xmonad)
        [ -x /usr/bin/trayer ] && (trayer --edge top --distance 0 --distancefrom right --align right --widthtype request --padding 2 --SetDockType true --SetPartialStrut true --expand true --monitor 0 --transparent true --alpha 0 --tint 0x1D3030 --height 20 2> /dev/null &)
        common_run
        ;;
    qtile)
        common_run
    [ -x /usr/bin/picom ] && (picom -f --experimental-backends 2> /dev/null &)
        ;;
esac
