#!/bin/bash
#
# ~/.xprofile
#
# Executed by startx (run your window manager from here)

if [ -f ~/.config/startup/common_startup.sh ]; then . ~/.config/startup/common_startup.sh; fi

case $1 in
    xmonad)
        if [ -f ~/.config/startup/xmonad_startup.sh ]; then . ~/.config/startup/xmonad_startup.sh; fi ;;
    qtile)
        if [ -f ~/.config/startup/qtile_startup.sh ]; then . ~/.config/startup/qtile_startup.sh; fi ;;
esac
